body {
    margin-top: 20px;
}

.bg-img {

    background-size: auto, cover;
    height: auto;
    width: auto;
    max-width: 100%;
}

.legend {
    border-style: none;
    border-width: 0;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
    width: auto;
    padding: 0 10px;
    border: 0;
    color: #777777;
    text-transform: uppercase;
}

.fieldset {
    border-top: 1px solid #bbbbbb;
    padding: 10px;
    font-weight: bold;
}

.title {
    font-size: 14px;
    color: green;
    margin-top: 40px;
    margin-bottom: 20px;
}

.p {
    color: #555555;
    font-size: 13px;
}

/*
    Copyright 
*/

.copyright {
    margin-top: 40px;
    font-size: 10px;
    color: #666666;
}

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
@font-face {
font-family: 'nyessid';
src: url('../font/nyessid.svg?63281300#nyessid') format('svg');
}
}
*/

@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: 'nyessid';
        src: url('../font/nyessid.svg?63281300#nyessid') format('svg');
    }
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: "nyessid";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-lock:before {
    content: '\e800';
}

.icon-download:before {
    content: '\e801';
}

.icon-upload:before {
    content: '\e802';
}

.icon-attention-circled:before {
    content: '\e803';
}

.icon-calendar:before {
    content: '\e804';
}

.icon-drive:before {
    content: '\e805';
}

.icon-globe:before {
    content: '\e806';
}

.icon-arrows-cw:before {
    content: '\e807';
}

.icon-rss:before {
    content: '\e808';
}

.icon-rss-outline:before {
    content: '\e809';
}

.icon-wifi-1:before {
    content: '\e80a';
}

.icon-email:before {
    content: '\e80b';
}

.icon-emo-unhappy:before {
    content: '\e80c';
}

.icon-info-circled:before {
    content: '\e80d';
}

.icon-off:before {
    content: '\e80e';
}

.icon-clock-alt:before {
    content: '\e80f';
}

.icon-clock:before {
    content: '\e810';
}

.icon-spin4:before {
    content: '\e834';
}

.icon-location-1:before {
    content: '\f031';
}

.icon-phone-squared:before {
    content: '\f098';
}

.icon-mail-alt:before {
    content: '\f0e0';
}

.icon-gauge:before {
    content: '\f0e4';
}

.icon-circle:before {
    content: '\f111';
}

.icon-angle-circled-left:before {
    content: '\f137';
}

.icon-angle-circled-right:before {
    content: '\f138';
}

.icon-database:before {
    content: '\f1c0';
}

.icon-wechat:before {
    content: '\f1d7';
    color: green;
}

.icon-copyright:before {
    content: '\f1f9';
}

.icon-whatsapp:before {
    content: '\f232';
    color: green;
}

.icon-question-circle-o:before {
    content: '\f29c';
}

.icon-user-circle:before {
    content: '\f2bd';
}

.icon-user-circle-o:before {
    content: '\f2be';
}